/* General styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #212529;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Header */
header {
  background-image: linear-gradient(to right, #007bff, #6610f2);
}


/* About section */
.about-title {
  color: #212529;
}

.about-lead {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.about-photo {
  max-width: 250px;
}

.contact-icon {
  font-size: 2rem;
  color: #6610f2;
  margin-bottom: 0.5rem;
}

/* Dark mode styles */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar,
.dark-mode footer {
  background-color: #1e1e1e !important;
}

.dark-mode #about,
.dark-mode #about h2,
.dark-mode #about p,
.dark-mode #about .about-lead,
.dark-mode #about .about-title,
.dark-mode #about .highlight-name {
  color: #e0e0e0 !important;
}

.dark-mode .contact-icon {
  color: #9b59b6;
}

.dark-mode .btn-primary {
  background-color: #6610f2;
  border-color: #6610f2;
}

/* Buttons */
.btn-primary {
  background-color: #6610f2;
  border-color: #6610f2;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #5200b8;
  border-color: #5200b8;
}
